{% extends '::base.html.twig'%}
{% block body %}

    {#<form method="post" action="{{ path('app_default_doSum') }}">#}
      <form method="post" action="{{ path(action) }}">
        <input type="number" name="num1">
        <input type="number" name="num2">
        <input type="submit" value="Operar">
    </form>
{% endblock %}